.label{
  
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}
.volForm{
    border: 3px solid gray;

   
}
.ContactInfo{
    margin-top: 6rem !important;
}
// .ContactUs{
//     margin-top: 6rem !important;
   
// }
.VolForm{
    background-color:  #f0cd87 !important;
}
.balanceRadio{
    width: 30px;
 height: 20px;
}
.volImg{
    width: 500px !important;
    border-radius: 50%;
}
.sendPresent {
    background-color: gray !important;
    border: 0 !important;
  }