.label{
  
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}
.volForm{
    border: 3px solid gray;
   
}
.ContactUs{
    margin-top: 6rem;
   
}
.balanceRadio{
    width: 30px;
 height: 20px;
}
.volImg{
    width: 500px !important;
    border-radius: 50%;
}