.sidemenue{
    position: fixed;
    left: 0;
    top: 8rem;
    background-color:#e3ca6e;
   
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 500;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    padding: 1rem 0;
}
@media only screen and (max-width: 767px) {
  .sidemenue{
    top: 3rem;
  }
}