.restaurants{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  gap: 60px;
  cursor: pointer;
}
.restaurant:hover{
  scale: 1.1;
  transition: ease all 500ms;
}
.charityAndRestaurantImg{
  border-radius: 10px;
    width: 240px;
}

.ResImg {
  height: 200px;
}
.content_restaurant {
  background-color: #ac6327 ;
  color: white;
  padding: 2rem 2rem;
  text-align: center;
  border-radius: 5rem;
  margin-top: 2rem;

  h2 {
    font-size: 1.3rem;
  }
}
