.charities{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  gap: 40px;
  cursor: pointer;

}

.charityAndRestaurantImg{
  border-radius: 10px;
    width: 240px;
    padding-bottom: 1rem;
}
.charity:hover{
    scale: 1.1;
    transition: ease all 500ms;
}
.content_charity{
    background-color: #ac6327;
    color: white;
    padding: 2rem 2rem;
    text-align: center;
    border-radius: 5rem;
    h2{
        font-size: 1.3rem;
    }
}


