
.volPage{
    margin: 0 !important;
}
.ContactInfo{
    margin-top: 6rem !important;
}
.contact_Header{
    margin-top: 5rem !important;
}
@media only screen and (min-width: 760px) and (max-width: 1067px) {
    .contact_Header{
        margin-top: 6rem !important;
     }
  }